In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train/gt.csv')

In [3]:
df

,title,invoice_number,invoice_number_bbox,issue_date,issue_date_bbox,total,total_bbox,table,table_bbox
0,5f5f7af4-933d-47f6-9fe0-ab05eab6ef71.jpg,1,"[487, 95, 498, 110]",04/04/2020,"[718, 96, 797, 114]",52510,"[816, 1065, 942, 1084]",SI Description of Goods HSN/SAC Quantity Rate ...,"[11, 552, 950, 662]"
1,131f7202-9aae-4a9d-a928-e5e57f62b0ea.jpeg,RSN/18-19/4126,"[608, 130, 720, 142]",09/03/2019,"[733, 130, 847, 142]",76900,"[764, 812, 850, 825]",S Description of Goods HSN/SAC GST Quantity Ra...,"[76, 344, 857, 449]"
2,09922092-d196-471f-86d4-38366beee9e8.png,DEL5-2187145,"[962, 558, 1112, 575]",25/08/2019,"[1000, 618, 1112, 634]",21490,"[1005, 849, 1111, 867]",SI. Net Tax Tax Tax Total\nDescription Unit Pr...,"[83.00039999999998, 668.999825, 1114.0008, 836..."
3,f248a9ed-e8e5-4af0-836f-4eb58886e894.jpeg,FAAOOL1801015598,"[326, 253, 413, 265]",25/09/2017,"[342, 266, 403, 274]",5391,"[509.9, 741.1, 550.8, 762.8]",Product Qty Price COST a Total\nHandsets/ VT59...,"[8.00026, 425.99952, 584.000163, 480.098880000..."
4,4ea82b85-8047-4f49-a6a1-e6de8af5ce0d.png,NaN,[],NaN,[],198.4,"[1123, 756, 1190, 770]",Date Item Description Total Unit Costs Tax Rat...,"[35.000112, 566.000385, 1194.99996, 647.99998]"
...,...,...,...,...,...,...,...,...,...
56,22061e07-c158-4548-ae2d-f40e20dabb73.png,4444 Po AB123,"[317.5, 681.9, 410.2, 695.8]",15/09/2010,"[535, 108, 601, 118]",1800,"[682, 680, 740, 690]",11. 12 Specification of commodities (und of pa...,"[28.999912, 419.00032, 740.9997800000001, 497...."
57,bbceab98-2049-487b-bc29-85dee1daad7f.jpg,205,"[600, 155, 619, 162]",11/03/1993,"[59, 396, 114, 407]",280832,"[649, 880, 709, 890]",UNIT EXTENDED\nPRICE PRICE\nQUANTITY ITEM DESC...,"[52.000364, 437.00000000000006, 717.0004660000..."
58,897aa322-67ca-4eb0-801c-6db864c6af49.jpg,NaN,[],05/07/2015,"[588, 181, 639, 188]",24,"[763, 555, 787, 561]",11 12 Spectation of commodities (kind of packa...,"[59.9998, 353.99980000000005, 799.999600000000..."
59,f1b24122-4e43-4540-b035-e245de3b6d68.jpg,BT-1638,"[627, 80, 667, 88]",03/01/2002,"[80, 856, 124, 863]",309400,"[638, 695, 673, 703]","Line Country\nNo. Item Number, Harmonized Numb...","[41.999840000000006, 380.00032, 681.0001920000..."
60,043613d8-5a4f-486d-b941-1b591622c2ed.png,NaN,[],01/04/2019,"[537, 885, 573, 891]",81.76,"[555, 833, 571, 838]",No. of No. of Net Weight Description of Goods ...,"[14.000279999999998, 445.99989, 577.000284, 51..."