# Extracting Raw Data from Unstructured Documents

In [ ]:
%pip install -r requirements.txt
# Depending upon your environment, you may need to use the above line or the one below
# !pip install -r requirements.txt

In [1]:
from openai import OpenAI
import base64
import csv
from openai_key import OPENAI_KEY
import os
import pandas as pd
import cv2
import pytesseract
from pytesseract import Output

In [ ]:
DEFAULT_PROMPT = """Please retrieve title, invoive number, issue_date, total amount and table.
    Always return your response as a valid JSON string. The format of that string should be this, 
    {
        invoice_number: RSN/18-19/4126,
        issue_date: 09/03/2019,
        total: 76900,
        table: S Description of Goods HSN/SAC GST Quantity Rate per Disc. % Amount
                Rate
                SAMSUNG S10PLUS 85171290 12 % 1 No. 68,660.71 No. 68,660.71
                512GB G975 CERAMIC BLACK
                Batch : 1 No.
    }
    If you can't find certain information like invoice_number do this invoice_number:"", similarly do it for everything, for total leave NaN if you can't find it.
    If you can't find any information from json, return empty json as {}. Do not make things up. Even if the message isn't visible, no need to write apologising messages,
    just return the JSON string.
"""

In [ ]:
client = OpenAI(api_key=OPENAI_KEY)

In [ ]:
def encode_image(image_path):
    with open(image_path, "rb") as image_file:
        return base64.b64encode(image_file.read()).decode('utf-8')

In [ ]:
# This could also be done with os module but for the sake of maintaining order with the csv, it is done this way;
csv_file_path = 'test/gt.csv'
titles = []

with open(csv_file_path, 'r') as csvfile:
    csv_reader = csv.DictReader(csvfile)
    for row in csv_reader:
        title = row['title']
        titles.append(title)

In [ ]:
json_strings = []

for title in titles:
    image_local = os.path.join('./test/files', title)
    image_url = f"data:image/jpeg;base64,{encode_image(image_local)}"

    response = client.chat.completions.create(
        model='gpt-4-vision-preview', 
        messages=[
            {
                "role": "user",
                "content": [
                    {"type": "text", "text": DEFAULT_PROMPT},
                    {
                        "type": "image_url",
                        "image_url": {"url": image_url}
                    }
                ],
            }
        ],
        max_tokens=500,
    )

    json_string = response.choices[0].message.content
    json_string = json_string.replace("```json\n", "").replace("\n```", "").replace("```", "")
    json_strings.append(json_string)

In [ ]:
with open("predictions.json", "w") as file:
    file.write("[\n")
    file.write(",\n".join(json_strings))
    file.write("\n]\n")

In [2]:
df_1 = pd.read_json('predictions.json')

In [3]:
df_1.head()

,invoice_number,issue_date,total,table
0,KBM/15-16/S0229,31/08/2015,310693,S Description of Goods HSN/SAC GST Quantity Ra...
1,38,19/11/2020,7000,S Description of Goods HSN/SAC GST Quantity Ra...
2,S1405G202003284,07/03/2020,15576,S.No. Parts/OP code Part Labor Description HSN...
3,123456789-SA,14/09/2017,918,S Description of Goods HSN/SAC GST Quantity Ra...
4,48,18/12/2014,12100,Product Description HSN/SAC GST Quantity Rate ...

In [4]:
(df_1=='').sum()

invoice_number    5
issue_date        2
total             1
table             1
dtype: int64

In [5]:
df_2 = pd.read_csv('test/gt.csv')

In [6]:
df_2.head()

,title,invoice_number,invoice_number_bbox,issue_date,issue_date_bbox,total,total_bbox,table,table_bbox
0,fd28f5e7-fc19-4f23-8dec-9a87b40f1a15.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c4141ea0-72cc-46f8-826f-a5d80451f8e5.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,77502028-18e6-4a51-9b7d-0cc5f4a68726.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e8d8c551-7a88-4f7d-bccf-4b205317b21e.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a7e533f9-fea3-453e-b135-6b6d9d3c63a6.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_merged = df_1.combine_first(df_2)

In [8]:
df_merged.head()

,invoice_number,invoice_number_bbox,issue_date,issue_date_bbox,table,table_bbox,title,total,total_bbox
0,KBM/15-16/S0229,NaN,31/08/2015,NaN,S Description of Goods HSN/SAC GST Quantity Ra...,NaN,fd28f5e7-fc19-4f23-8dec-9a87b40f1a15.jpg,310693,NaN
1,38,NaN,19/11/2020,NaN,S Description of Goods HSN/SAC GST Quantity Ra...,NaN,c4141ea0-72cc-46f8-826f-a5d80451f8e5.jpg,7000,NaN
2,S1405G202003284,NaN,07/03/2020,NaN,S.No. Parts/OP code Part Labor Description HSN...,NaN,77502028-18e6-4a51-9b7d-0cc5f4a68726.jpg,15576,NaN
3,123456789-SA,NaN,14/09/2017,NaN,S Description of Goods HSN/SAC GST Quantity Ra...,NaN,e8d8c551-7a88-4f7d-bccf-4b205317b21e.jpg,918,NaN
4,48,NaN,18/12/2014,NaN,Product Description HSN/SAC GST Quantity Rate ...,NaN,a7e533f9-fea3-453e-b135-6b6d9d3c63a6.jpg,12100,NaN

In [9]:
def get_bounding_box(image_path, text):
    image = cv2.imread(image_path)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
    data = pytesseract.image_to_data(image, output_type=pytesseract.Output.DICT)
    for i in range(len(data['text'])):
        if data['text'][i] == text:
            x_top_left = data['left'][i]
            y_top_left = data['top'][i]
            x_bottom_right = x_top_left + data['width'][i]
            y_bottom_right = y_top_left + data['height'][i]
            return str([x_top_left, y_top_left, x_bottom_right, y_bottom_right])
    return None

In [10]:
for index, row in df_merged.iterrows():
    image_path = f"test/files/{row['title']}"
    df_merged.loc[index, 'invoice_number_bbox'] = get_bounding_box(image_path, row['invoice_number'])
    df_merged.loc[index, 'issue_date_bbox'] = get_bounding_box(image_path, row['issue_date'])
    df_merged.loc[index, 'table_bbox'] = get_bounding_box(image_path, row['table'])

/var/folders/hg/n24r9jj93w7fwkd71c03mj9h0000gn/T/ipykernel_5675/2662139823.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1130, 308, 1392, 349]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_merged.loc[index, 'invoice_number_bbox'] = get_bounding_box(image_path, row['invoice_number'])
/var/folders/hg/n24r9jj93w7fwkd71c03mj9h0000gn/T/ipykernel_5675/2662139823.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1134, 343, 1286, 384]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_merged.loc[index, 'issue_date_bbox'] = get_bounding_box(image_path, row['issue_date'])
/var/folders/hg/n24r9jj93w7fwkd71c03mj9h0000gn/T/ipykernel_5675/2662139823.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[0, 0, 568, 815]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_merged.loc[index, 'table_bbox'] = get_bounding_box(image_path, row['table'])

In [13]:
df_merged.fillna('', inplace=True)

/var/folders/hg/n24r9jj93w7fwkd71c03mj9h0000gn/T/ipykernel_5675/3870340746.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_merged.fillna('', inplace=True)

In [16]:
df_merged

,invoice_number,invoice_number_bbox,issue_date,issue_date_bbox,table,table_bbox,title,total,total_bbox
0,KBM/15-16/S0229,"[1130, 308, 1392, 349]",31/08/2015,"[1134, 343, 1286, 384]",S Description of Goods HSN/SAC GST Quantity Ra...,,fd28f5e7-fc19-4f23-8dec-9a87b40f1a15.jpg,310693,
1,38,"[252, 48, 263, 56]",19/11/2020,,S Description of Goods HSN/SAC GST Quantity Ra...,,c4141ea0-72cc-46f8-826f-a5d80451f8e5.jpg,7000,
2,S1405G202003284,,07/03/2020,,S.No. Parts/OP code Part Labor Description HSN...,,77502028-18e6-4a51-9b7d-0cc5f4a68726.jpg,15576,
3,123456789-SA,"[515, 1702, 741, 1729]",14/09/2017,,S Description of Goods HSN/SAC GST Quantity Ra...,,e8d8c551-7a88-4f7d-bccf-4b205317b21e.jpg,918,
4,48,"[527, 566, 556, 586]",18/12/2014,"[529, 517, 671, 537]",Product Description HSN/SAC GST Quantity Rate ...,,a7e533f9-fea3-453e-b135-6b6d9d3c63a6.jpg,12100,
5,1,,07/09/2015,,Description Quantity Rate Options TotalIn-flig...,,4907a532-bf75-4bc4-a08c-06f9d3f00306.png,349.85,
6,2017-40,,20/07/2017,,No. Name Qty Rate Disc. Taxable Amount IGST % ...,,19d98817-caf1-4e5a-b8b2-22881ecef5d4.png,4899.36,
7,2022/000323,"[486, 171, 554, 179]",07/07/2022,,Product Description Price Quantity Tax Rate VA...,,2ec7883e-dafe-4cc3-9836-7314ace98c14.png,141.9,
8,CIV-000676 000007-1,,30/11/2019,,ITEM DESCRIPTION QUANTITY SALES PRICE DISCOUNT...,,292518c6-bfd4-4096-92a1-7df63faf0860.png,321113.52,
9,,"[0, 0, 568, 815]",09/07/2020,,,"[0, 0, 568, 815]",aacc330f-a0ad-4248-bce9-9eab83818e2b.jpg,,
10,US-001,,11/02/2019,,Qty Description Unit Price Amount1 Front and r...,,77ed1272-512c-4389-8a38-3798084cb073.png,154.06,
11,GS00000001,"[178, 118, 271, 130]",01/01/2008,,Product Description Cost Qty Disc TotalItem de...,,9b650c90-ad5c-4f07-b04a-b58e33318398.jpg,467.5,
12,001,"[244, 461, 267, 471]",15/10/2018,,DESCRIPTION HOURS RATE TOTALWEDDING PHOTOSHOOT...,,6a620b62-167a-466e-961d-63cac09ba563.jpg,2550 USD,
13,CT00000001,,10/10/2020,,# ITEM NAME QTY PRICE/ DISCOUNT/ GST AMOUNT UN...,,522a7c5f-166c-479f-8801-10d43d83a3b9.png,121000,
14,GE/3847/20-2013,,10/10/2020,"[540, 113, 609, 126]",S Description of Goods HSN/SAC GST Quantity Ra...,,8e00367b-25b3-401b-bf8e-e1cfc801e4ae.png,3600,
15,GE/3847/20-2013,,10/10/2020,,item_name hsn_sac quantity rate_per_unit disco...,,f0cb78a6-b501-4962-8baa-e5d8180d625a.png,10440,
16,1227,"[1002, 334, 1045, 349]",10/09/2020,,DATE EMPLOYEE DESCRIPTION HOURS RATE AMOUNT9/2...,,b06572e1-a3c6-43a8-8e33-a2d8b5669da3.png,2231.96,
17,,"[0, 0, 736, 952]",08/07/2012,,DATE EXPLANATION OF ACTIVITY CHARGES INSURANCE...,,70de9d18-4aff-40bc-b60a-db7dec2b5af7.jpg,39.65,
18,1,,25/04/2019,,Description AmountDJ & MC Performance Duration...,,e32e1986-37d9-46c9-9e63-551a3e6ee83a.png,1010,
19,1,"[20, 305, 24, 313]",19/11/2020,,Description of Goods Quantity Rate per AmountA...,,2a8677b9-b29e-4c93-86e5-56d4c38cb7fc.jpg,62000,
20,982093,"[80, 130, 133, 141]",,"[0, 0, 535, 693]",DESCRIPTION QTY. PRICE TOTALWeb Design 1 $ 200...,,ee3a5b7c-ed1b-4a89-9f36-ee403616cf5d.jpg,2112.25,
21,CI-10012014,,10/07/2014,,DESCRIPTION QUANTITY TOTAL PRICEDOORES AND WIN...,,e45e92a6-3cd7-495a-8e47-ab95d1cdda3e.png,80000,
22,37,,19/11/2020,,S Description of Goods Quantity Rate per Amoun...,,9d396ae4-7abe-4aa5-8481-11df722e49c7.jpg,93000,
23,,"[0, 0, 2481, 3510]",06/12/2010,"[1483, 1067, 1665, 1095]",Part No/Job Code Particulars Type UoM Qty Rate...,,b33b5ce3-4ff8-4c88-aa43-137875bcb754.jpg,6326,
24,,"[0, 0, 800, 1080]",18/07/2022,,ITEM NAME UNITS RATE TOTALItem name 2 $450.00 ...,,0869be20-07ec-40c9-be93-fe9d6b0ae5dd.jpeg,2860,
25,0219-0001,"[223, 466, 309, 492]",03/07/2015,,Quantity Item Description Vendor Unit Price To...,,21dd0238-661b-4d4a-8d6f-8b7717d229fc.png,70,
26,4631508,"[785, 172, 846, 184]",13/05/2013,,Line No. Line No. Decription Quantity Unit Pri...,,0b6fcb50-b157-4457-b3a3-06779f91b8b8.jpg,1445.99,
27,22011,"[688, 191, 739, 206]",01/08/2020,,Date By Services Hours Rates Amount 08/01/2020...,,f50b68b8-543f-48ef-999d-b1b142c1baeb.png,436.45,
28,CRM12345,,20/09/2012,,Quantity Description Unit Price Ext Price1 Cer...,,4cfc9619-5dd4-4307-90b6-04d20ba6db3b.jpg,11345.5,
29,25,,01/03/2017,,DESCRIPTION QUANTITY PRICE SALES TAX AMOUNTBla...,,e34b2104-7996-488f-a71a-af1819bd8f9f.png,10.6,
30,21,"[99, 339, 125, 358]",14/12/2016,,Description of Goods Tariff Code Country of Or...,,e2befb75-c0e9-4c7f-befd-3fc16e4b9acb.png,775,
31,#00121,"[651, 78, 696, 89]",08/04/2015,,Description Qty Unit Price AmountBrochure Desi...,,281dec77-e364-494e-9a67-0d862b5a509e.png,270,
32,1,,06/07/2012,,QUANTITY DESCRIPTION UNIT PRICE AMOUNT120 Widg...,,6fab0ac5-e856-43af-a2ed-621d1a15818a.png,2407,
33,DB-12657,,18/06/2017,,Product Code Description of Goods Unit Quantit...,,151d0d84-bfb4-4338-8839-90d69a1a3074.png,50340,
34,5559-789,,05/02/2005,,Full Description of Goods 8 Customs Commodity ...,,7b450c61-a83d-4843-8404-0828b0d62891.jpg,1150,
35,SOtt306386,,,"[0, 0, 799, 900]",Art number Description HTS Code Country of Ori...,,4d972974-e804-4c67-af7c-071b16d1d35a.png,4763.45,
36,,"[0, 0, 2541, 3171]",26/09/2018,,PIECES PACKAGE DIMENSIONS DESCRIPTION WEIGHT V...,,cdfb3904-b918-4b56-ab73-20d3ffcccca5.jpg,200,
37,0001,"[340, 448, 366, 457]",10/02/2020,,Description Quantity Unit Price CostRXT-1 (1st...,,69b77ea7-6f8a-4eba-9568-8c33136879c3.jpeg,5475,
38,100,"[260, 312, 278, 320]",27/02/2014,,Product Description Quantity Unit price Subtot...,,608cb44c-46b7-405e-acfa-1bb8ed4e9cf8.jpg,635.9,
39,BS 10009,,11/06/2013,,Product Price Quantity Line TotalFlying Ninja ...,,72c641c1-d057-48ab-9d1f-2abb143c691d.png,120,
40,30037,,01/10/2017,,Quantity Description of Goods Unit Price Amoun...,,3e2ef304-3cb7-4452-87b8-102bea1c2908.jpg,3850,

In [15]:
df_merged.to_csv('predictions.csv', index=False)